body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #003459;
}

hr.light {
  border-color: #fff;
}

.loader-wrapper {
  opacity: 1;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

a {
  color: #003F5A;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color: #003f59;
}

.bg-primary {
  background-color: #003459 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
  font-family: 'Nunito Sans', sans-serif;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#git {
  text-decoration: none;
  color: #00A8E8;
}

#git:hover {
  color: #007EA7;
}

#mail {
  color: #003F5A;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.contactContainer {
  display: flex;
}

.icon {
  text-align: center;
  margin: 0 auto;
}

.caption {
  color: white;
  padding-top: 3em;
  padding-bottom: 0;
}

.footer {
  background-color: #003459;
  height: 6em;
  display: flex;
  justify-content: center;
  border-top: 2px solid #00171F;
  align-items: center;
}

.footer i {
  color: white;
  margin-left: 3em;
  font-size: 3em;
}

.footer img {
  align-self: center;
  height: 4em;
  margin-right: 2em;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#mainNav .navbar-brand {
  width: 10%;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #007EA7;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #007EA7 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    width: 5%;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #003F5A;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #003f59;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #003F5A;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=281dd3518c2edb68c31b19bbcb624a0f&auto=format&fit=crop&w=1350&q=80");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.2), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #003459;
}

header.masthead .fa {
  font-size: 60px;
  -webkit-transition: font-size 2s;
  transition: color 0.5s;
  padding-right: 20px;
  color: white;
}

header.masthead #frontEnd {
  font-family: 'Montserrat', sans-serif;
}

header.masthead .fa:hover {
  color: #003459;
}

header.masthead #front {
  padding-bottom: 20px;
}

header.masthead h1 {
  font-size: 2.3rem;
  font-family: 'Nunito Sans', sans-serif;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box img {
  display: block;
  width: 100%;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  background-position: center center;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(0, 63, 90, 0.9);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .logo-left {
  justify-self: end;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .logo-right {
  justify-self: start;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .logo {
  width: 40%;
  padding-top: 0.5em;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logo1,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logoNode {
  justify-self: end;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logo2 {
  justify-self: start;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content #logo2gulp {
  justify-self: start;
  width: 20%;
  padding-left: 0.5em;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .wrapper-one #logoJS {
  grid-column: 2/4;
  padding-top: 1em;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  margin-right: 20%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.portfolioItem {
  flex-grow: 1;
  width: 33%;
  height: 20em;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007EA7;
  opacity: 1;
}

.portfolioItem .imgDiv {
  display: flex;
  justify-content: center;
}

.portfolioItem .available {
  font-size: 0.6em;
  opacity: 0;
  transition: 0.1s ease;
}

.portfolioItem .par {
  opacity: 0;
  transition: 0.1s ease-in;
}

.portfolioItem:hover > .par {
  opacity: 1;
  color: white;
  font-size: 2em;
  font-weight: 600;
  text-shadow: 5px -1px 8px black;
}

.portfolioItem:hover > .available {
  opacity: 1;
  color: white;
  text-shadow: 5px -1px 8px black;
}

#one {
  background-image: url("../img/portfolio/thumbnails/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#two {
  background-image: url("../img/portfolio/thumbnails/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#three {
  background-image: url("../img/portfolio/thumbnails/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#three img {
  width: 80%;
  opacity: 0;
  transition: 0.1s ease-in;
}

#three:hover img {
  opacity: 1;
}

#four {
  background-image: url("../img/portfolio/thumbnails/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#five {
  background-image: url("../img/portfolio/thumbnails/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

#five img {
  width: 70%;
  opacity: 0;
  transition: 0.1s ease-in;
}

#five:hover img {
  opacity: 1;
}

#six {
  background-image: url("../img/portfolio/thumbnails/6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.text-primary {
  color: #003F5A !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #003F5A;
  border-color: #003F5A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #002d41 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
