// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
font-family: 'Nunito Sans', sans-serif;}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $prussianBlue;
}

hr.light {
  border-color: $white;
}


.loader-wrapper{
  opacity:1;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}



.bg-primary {
  background-color: $prussianBlue !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
  font-family: 'Nunito Sans', sans-serif;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

#git{
  text-decoration: none;
  color: $vividCerulean;
}

#git:hover {
  color: $cerulean;
}






#mail{
  color: $primary;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.contactContainer{
  display: flex;
}
  .icon{
   text-align: center;
   margin: 0 auto;
  }


.caption{
  color: white;
  padding-top: 3em;
  padding-bottom: 0;
}


.footer {
  background-color: $prussianBlue;
  height: 6em;
  display: flex;
justify-content: center;
border-top: 2px solid $richBlack;
align-items: center;
 
i {
  color: white;
  margin-left: 3em;
  font-size:3em;
}




img{
  align-self: center;
  height: 4em;
  margin-right: 2em;
}

}